.font-h1 {
  font-weight: 700;
  font-size: $font-size-base * 3;
  line-height: $font-size-base * 4;
}

.font-h2 {
  font-weight: 700;
  font-size: $font-size-base * 2.25;
  line-height: $font-size-base * 3;
}

.font-h3 {
  font-weight: 700;
  font-size: $font-size-base * 1.5;
  line-height: $font-size-base * 2.25;
}

.font-h4 {
  font-weight: 700;
  font-size: $font-size-base * 1.25;
  line-height: $font-size-base * 2;
}

.font-h5 {
  font-weight: 700;
  font-size: $font-size-base * 1;
  line-height: $font-size-base * 1.5;
}

.font-h6 {
  font-weight: 700;
  font-size: $font-size-base * 0.875;
  line-height: $font-size-base * 1.25;
}

.font-body {
  font-weight: normal;
  font-size: $font-size-base;
  line-height: $font-size-base * 1.625;

  &.-bold {
    font-weight: 700;
  }
}

.font-body-big {
  font-weight: normal;
  font-size: $font-size-base * 1.125;
  line-height: $font-size-base * 1.875;

  &.-bold {
    font-weight: 700;
  }
}

.font-label {
  font-weight: normal;
  font-size: $font-size-base * 1;
  line-height: $font-size-base * 1;
  color: $gray-500;
}

.font-description {
  font-weight: normal;
  font-size: $font-size-base * 0.875;
  line-height: $font-size-base * 1.15;
}

h1 {
  @extend .font-h1;
  color: $primary;
}

h2 {
  @extend .font-h2;
  color: $secondary;
}

h3 {
  @extend .font-h3;
  color: $secondary;
}

h4 {
  @extend .font-h4;
  color: $primary;
}

h5 {
  @extend .font-h5;
  color: $primary;
}

h6 {
  @extend .font-h6;
  color: $primary;
}

a {
  @extend .font-body;
  font-weight: 700;
  color: $primary;
  &:hover {
    color:$primary

  }
}
