/**
 * Application's style variables.
 */
$white: #FFFFFF;
$primaryColor: #4600BF;
$secondaryColor: #FF00D4;
$errorColor: #FF4545;
$successColor: #3DCD70;
$textColor: #161618;
$primary-transparent: rgba(70, 0, 191, 0.1);

$primary:       #4600BF;
$secondary:     #FF00D4;
$success:       #27D743;
// $info:          $cyan;
$warning:       #FF4545;
$danger:        #FF4545;
// $light:         $gray-100;
$dark:          #041147;
$black:    #161618;


$font-size-base: 1rem;


$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;